/*****variables*****/
$primary-color:#48dbfb;
$primary-lighten-color:#6ce3fd;
$primary-darken-color:#0abde3;
$secondary-color: #616161;
$secondary-lighten-color: #706f6f;
$secondary-darken-color: #696969;
$text-gray-color: #BEC2CE;
$text-dark-color: #242A37;
$font: 'Open Sans', Arial, sans-serif;

